.myButton {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.primary {
    composes: myButton;
    background-color: black;
    color: white;
}

.secondary {
    composes: myButton;
    background-color: white;
    color: black;
}